// Font Weights
$proxima: "proxima-nova", sans-serif;
$code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
$semibold: 600;
$bold: 700;

// Colors
$blue-link: #1192ce;
$blue-dk: #496d82;

$gblue-md: #637d8a;
$gblue-dk: #1F2D36;

$code-gray: #f3f4f5;
$code-blue: #395465;

$btn-blue-lt: #1CACEF;
$btn-blue-dk: #0089C9;
