<div class="top-nav-wrapper">
  <input type="checkbox">
  <div class="hamburg-icon">
    <div class="line top"></div>
    <div class="line mid"></div>
    <div class="line btm"></div>
  </div>
  <div class="top-nav">
    <a href="https://nanobox.io" class="logo">
      <svg id="logo" preserveAspectRatio="xMinYMin meet" class="pagoda-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="19px" height="33px">
        <g xmlns="http://www.w3.org/2000/svg" id="logo" data-size="19x33" class="shared-svg-svg ">	<polygon class="st0_j04fxdvs" points="18.959,25.987 9.591,30.815 0,25.901 9.368,21.072 	"></polygon><polygon class="st1_j04fxdvs" points="15.003,23.96 9.498,26.797 3.863,23.91 9.368,21.072 	"></polygon><polygon class="st2_j04fxdvs" points="9.591,30.828 18.959,26 18.959,27.378 9.591,32.207 	"></polygon><polygon class="st3_j04fxdvs" points="9.591,30.828 0,25.901 0,27.279 9.591,32.207 	"></polygon><polygon class="st4_j04fxdvs" points="9.688,23.017 17.325,19.079 17.325,20.228 9.688,24.165 	"></polygon><polygon class="st5_j04fxdvs" points="9.688,23.017 2.049,19.079 2.049,20.228 9.688,24.165 	"></polygon><polygon class="st6_j04fxdvs" points="17.325,19.079 9.688,23.017 2.049,19.079 9.688,15.143 	"></polygon><polygon class="st7_j04fxdvs" points="15.311,18.046 9.688,20.945 4.063,18.046 9.688,15.148 	"></polygon><polygon class="st8_j04fxdvs" points="9.688,16.896 18.942,12.127 18.942,13.517 9.688,18.287 	"></polygon><polygon class="st9_j04fxdvs" points="9.688,16.896 0.432,12.127 0.432,13.517 9.688,18.287 	"></polygon><polygon class="st10_j04fxdvs" points="18.942,12.127 9.688,16.896 0.432,12.127 9.688,7.356 	"></polygon><polygon class="st11_j04fxdvs" points="16.501,10.873 9.688,14.386 2.873,10.873 9.688,7.361 	"></polygon><polygon class="st12_j04fxdvs" points="18.94,4.803 9.623,9.604 0.306,4.803 9.623,0 	"></polygon><polygon class="st13_j04fxdvs" points="9.623,9.604 18.94,4.803 18.94,6.204 9.623,11.006 	"></polygon><polygon class="st14_j04fxdvs" points="9.623,9.604 0.306,4.803 0.306,6.204 9.623,11.006 	"></polygon></g>
      </svg>
      <div class="company">Nanobox</div>
    </a>

    <div class="top-menu">
      <div class="nav-menu">
        <div class="left-items">
          <div class="more what-is-nanobox">
            <a href="https://nanobox.io/what-is-nanobox">
              <div class="txt">What is Nanobox</div>
              <svg id="more-arrow" preserveAspectRatio="xMinYMin meet" class="pagoda-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="8px" height="5px">
                <g xmlns="http://www.w3.org/2000/svg" id="more-arrow" data-size="8x5" class="shared-svg-svg ">	<polygon class="st15_j04fxdvs" points="0,0 3.603,4.883 7.207,0 	"></polygon></g>
              </svg>
            </a>
            <div class="sub-menu">
              <div class="shadow">
                <a href="https://nanobox.io/app-development-environment">
                  <div class="icon">
                    <svg id="nav-local" preserveAspectRatio="xMinYMin meet" class="pagoda-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="20px" height="14px">
                      <g xmlns="http://www.w3.org/2000/svg" id="nav-local" data-size="20x14" class="shared-svg-svg ">	<g>		<rect x="1" y="1" class="st17_j04fxdvs" width="17.809" height="11.461"></rect></g>	<line class="st18_j04fxdvs" x1="4.516" y1="5.272" x2="6.579" y2="5.272"></line></g>
                    </svg>
                  </div>
                  <div class="txt">Local Dev Environment</div>
                </a>
                <a href="https://nanobox.io/app-deployment-tool">
                  <div class="icon">
                    <svg id="nav-deploy" preserveAspectRatio="xMinYMin meet" class="pagoda-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="15px" height="17px">
                      <g xmlns="http://www.w3.org/2000/svg" id="nav-deploy" data-size="15x17" class="shared-svg-svg ">	<g>		<polyline class="st17_j04fxdvs" points="13.977,7.635 7.342,1 0.707,7.635 		"></polyline></g>	<g>		<line class="st17_j04fxdvs" x1="7.342" y1="1" x2="7.342" y2="16.183"></line></g></g>
                    </svg>
                  </div>
                  <div class="txt">App Deployment Platform</div>
                </a>
                <a href="https://nanobox.io/app-server-management-system">
                  <div class="icon">
                    <svg id="nav-production" preserveAspectRatio="xMinYMin meet" class="pagoda-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="17px" height="20px">
                      <g xmlns="http://www.w3.org/2000/svg" id="nav-production" data-size="17x20" class="shared-svg-svg ">	<g>		<polygon class="st17_j04fxdvs" points="15.846,13.856 8.423,18.142 1.001,13.856 1.001,5.285 8.423,1 15.846,5.285 		"></polygon></g>	<g>		<polygon class="st17_j04fxdvs" points="15.846,5.285 8.423,9.571 8.423,18.142 15.846,13.856 		"></polygon></g>	<g>		<polyline class="st17_j04fxdvs" points="8.423,18.142 1,13.856 1,5.285 		"></polyline></g></g>
                    </svg>
                  </div>
                  <div class="txt">Production Management Tool</div>
                </a>
              </div>
            </div>
          </div>
          <a href="http://guides.nanobox.io" class="get-started">Get Started</a>
          <a href="https://nanobox.io/pricing">Pricing</a>
        </div>

        <div class="right-items">
          <a href="https://dashboard.nanobox.io/users/login">Login</a>
          <a href="https://dashboard.nanobox.io/users/register" class="sign-up">Sign Up</a>
        </div>

      </div>
    </div>
  </div>
</div>
